@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Testing the fault search functionality below.
            </p>
        </div>
    </section>
}
<h3>Test Bed</h3>
<br/>
<form>
    <input type="text" id="txtSearch"/> <input type="button" value="search" id="btnSearch"/>
    <ul id="faults"></ul>
</form>

@section scripts {
    <script>
        var uri = "api/faults";

        $("#btnSearch").click(function() {
            $.getJSON(uri).done(function(data) {

                $.each(data, function(key, item) {
                    $("<li>").append(formatListItem(item)).appendTo($("#faults"));
                });

            });
        });

        function formatListItem(dataItem) {
            return $("<ul>").addClass("horizontalList")
                   .append($("<li>", { text: dataItem.Address1 }))
                   .append($("<li>", { text: dataItem.Address2 }))
                   .append($("<li>", { text: dataItem.Type }));
        };
    </script>
}