@{
    ViewBag.Title = "Fault Search";
}
<h1>@ViewBag.Title</h1>
<br/>
<form id="searchForm">
    <label for="txtStreet">Street:</label>
    <input type="text" id="txtStreet" />
    <label for="txtSuburb">Suburb:</label>
    <input type="text" id="txtSuburb" />
    <label for="txtPost">Post Code:</label>
    <input type="text" id="txtPost" />

    <input type="button" value="search" id="btnSearch"/>
    <br/>
    <table id="faults"></table>
</form>

@section scripts {
    <script>
        var uri = "../api/faultapi";


        //event listeners.
        $("#btnSearch").click(function() {

            $("#faults").empty();

            var searchObject = {
                street:   $("#txtStreet").val(),
                suburb:   $("#txtSuburb").val(),
                postcode: $("#txtPost").val()
            };

            $.ajax({
                url: "../api/faultapi/searchbyobject",
                type: "post",
                datatype: "json",
                success: ajaxReturn,
                data: searchObject
            });

        });


        //functions.
        function ajaxReturn(data) {

            $("<thead>")
                .append($("<tr>"))
                    .append($("<th>", { text: "Street" }))
                    .append($("<th>", { text: "Suburb" }))
                    .append($("<th>", { text: "PostCode" }))
                    .append($("<th>", { text: "Type" }))
                    .append($("<th>", { text: "Status" }))
            .appendTo($("#faults"));

            $.each(data, function(key, item) {
                $("<tr>")
                    .append($("<td>", { text: item.Street }))
                    .append($("<td>", { text: item.Suburb }))
                    .append($("<td>", { text: item.PostCode }))
                    .append($("<td>", { text: item.Type }))
                    .append($("<td>", { text: item.Status }))
                .appendTo($("#faults"));
            });
        };
    </script>
}